In [154]:
import numpy as np
import pandas as pd

In [159]:
df = pd.read_excel('./data.xlsx', sheet_name=3, engine='openpyxl')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [160]:
df2 = df.drop(['고유번호', '주소', '입장가능반려동물'], axis=1).fillna('None')
df2 = df2.replace(['폐업'], 'None')
# df3 = df2['편의시설'].dropna()

In [161]:
df2

,상호명,카테고리1,카테고리2,카테고리3,입장가능공간,편의시설,추천태그
0,캠핑웨,캠핑/글램핑,None,None,None,None,None
1,카페개내,여행/관광지,None,None,None,None,None
2,타코벨 강남점,음식점,None,None,None,None,None
3,펫베베,애견호텔,None,None,None,None,None
4,서초동물병원,동물병원,None,None,전체,"주차가능,반려동물용품","서울동물병원,서초동물병원,서울애견미용,서초애견미용,서울애견호텔,서초애견호텔,반려동물..."
...,...,...,...,...,...,...,...
5904,None,None,None,None,None,None,None
5905,None,None,None,None,None,None,None
5906,None,None,None,None,None,None,None
5907,None,None,None,None,None,None,None
5908,None,None,None,None,None,None,None

In [162]:
df2.to_csv('vector_before.csv', index=False, encoding="utf-8-sig")

In [163]:
dfs = np.split(df2, [1], axis=1)

data_key_li = list()
data_li = list()
data_name_li = list()
for i in range(len(dfs[1])):
# for i in range(len(df2)):
#     print(dfs[1].iloc[i])
    
    tmp = list()
#     for j in df2.iloc[i]:
#     print(dfs[0].iloc[i])
    for j in dfs[1].iloc[i]:
        
        if j!='None':
            
            if type(j)==str:

                if ',' in j:
                    if '실내' in j and '실외' in j:
                        tmp.append(j)
                    else:
                        tmp_ = j.split(',')
                        for tt in tmp_:
                            tmp.append(tt)
                            data_key_li.append(tt)
                else:
                    tmp.append(j)
                    data_key_li.append(j)
            else:
                tmp.append(j)
                data_key_li.append(j)
        else:
            continue
    if len(tmp)>1:
        data_li.append(tmp)
        data_name_li.append(dfs[0].iloc[i][0])

In [164]:
word2index = {}
for voca in data_key_li:
    if voca not in word2index:
        word2index[voca] = len(word2index)
#         print(word2index)

In [165]:
for i in range(len(list(word2index.keys()))-len(data_name_li)):
    data_name_li.append('None')

In [166]:
data_df = pd.DataFrame(0,index=data_name_li,columns=list(word2index.keys()))

In [168]:
for d in range(len(data_li)):
    
#     print(d)
    for c in data_li[d][1:]:
        data_df.rename(index={str(d):data_li[0]})
        data_df.iloc[d][c]=1

In [169]:
data_df.to_csv('vector.csv', index=False, encoding="utf-8-sig")